.custom-bg-color {
    background-color: rgba(255, 255, 255, 0.514);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    /* backdrop-filter: blur(20px); */
}

.custom-font {
    font-family: "Courier New", monospace;
}


.forecast-conent {
    font-size: 14px;
    margin-bottom: 0;
    color: #999999;
}

.hover-effect:hover {

    background-color: #bdf3ff70;

}